html,
body {
  /*padding: 10 11 10 15px;*/
  padding: 0px;
  /*background-color: rgb(11, 11, 11);*/
  margin: 0;
  font-family: 'Fira Mono';
  font-weight: 300;
  box-sizing: border-box;
  color: rgb(196, 196, 196);
}

.dragbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: Chicago;
  font-size: 12px;
  color: black;
  background-color: rgb(135, 135, 135);
  text-align: center;
  left: 0px;
  margin-bottom: 30px;
  /* border: 2px solid rgba(86, 91, 87, 0.7); */
}

.closebutton {
  height: 14px;
  width: 14px;
  text-align: center;
  font-size: 13px;
  padding-left: 1px;
  padding-top: 0px;
  font-weight: bold;
  /* font-family: Helvetica; */
  /* border: 2px solid rgba(86, 91, 87, 0.7); */
}

.container {
  height: 400px;
  width: 1000px;
  padding: 10px;
  margin: auto;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
}

.menutop {
  /*border: 1px solid white;*/
  text-align: center;
  height: 25px;
  border-radius: 4px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main {
  /*border: 1px solid white;*/
  border-radius: 4px;
  padding: 20px;
  padding-top: 30px;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sequencer {
  /*border: 1px solid white;*/
  border-radius: 4px;
  margin: auto;
  padding: 0px;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.sequencer * {
  background-color: rgb(0, 0, 0);
  height: 64px;
  width: 64px;
  border-radius: 100%;
  box-sizing: border-box;
}

.step {
  /*border: 1px dotted silver;*/
  padding-left: 8px;
  padding-top: 58px;
  text-shadow: black 1px 1px;
  color: rgb(180, 180, 180);
  border: 3px solid rgb(213, 213, 213);
}

.step-03,
.step-02,
.step-01,
.step-00 {
  /*background-color: rgb(213, 213, 213);*/
  transform: translate(0px, 0px) rotate(15deg) scale(0.75);
}
.step-07,
.step-06,
.step-05,
.step-04 {
  /*background-color: rgb(189, 187, 11);*/
  transform: translate(38px, -10px) rotate(15deg) scale(0.75);
}
.step-11,
.step-10,
.step-09,
.step-08 {
  /*background-color: rgb(187, 117, 12);*/
  transform: translate(76px, -20px) rotate(15deg) scale(0.75);
}
.step-15,
.step-14,
.step-13,
.step-12 {
  /*background-color: rgb(161, 41, 15);*/
  transform: translate(114px, -30px) rotate(15deg) scale(0.75);
}

.step:hover {
  /*box-sizing: border-box;*/
  border: 3px solid rgba(255, 0, 0, 0.5);
  box-shadow: rgba(133, 0, 0, 1) 0px 0px 3px 4px;
  /*rgba(0, 0, 0, 0.9)
							-3px -2px 1px 0px inset;*/
  transition: 0.9s;
  transition-timing-function: cubic-bezier(0, 1.8, 0.6, 1);
  /*border-color: rgb(190, 31, 25);*/
}

.middle {
  /*width: 20px;*/
}

.controls {
  /*border: 1px solid white;*/
  border-radius: 4px;
  margin: auto;
  padding: 0px;
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.controls * {
  background-color: rgb(213, 213, 213);
  height: 64px;
  width: 64px;
  border-radius: 100%;
  box-sizing: border-box;
}

.control {
  /*border: 1px dotted silver;*/
  padding-left: 50px;
  padding-top: 60px;
  text-shadow: black 1px 1px;
  color: rgb(180, 180, 180);
  border: 1px solid white;
}

.control-03,
.control-02,
.control-01,
.control-00 {
  transform: translate(0px, 0px) rotate(-15deg) scale(0.75);
}

.control-07,
.control-06,
.control-05,
.control-04 {
  transform: translate(-38px, -10px) rotate(-15deg) scale(0.75);
}

.control-11,
.control-10,
.control-09,
.control-08 {
  transform: translate(-76px, -20px) rotate(-15deg) scale(0.75);
}

.control-15,
.control-14,
.control-13,
.control-12 {
  transform: translate(-114px, -30px) rotate(-15deg) scale(0.75);
}

.params {
  font-size: 8px;
  height: 50px;
  /*border: 1px solid white;*/
  border-radius: 4px;
  margin: auto;
  padding-right: 20px;
  text-align: right;
}

.teste {
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  /*text-shadow: rgb(255, 9, 9) 2px 2px 2px;*/
  font-family: Roboto;
  font-size: 40px;
  padding: 0px;
  transform: rotate(15deg) translate(-65px, -60px);
}
